.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.pagination button {
    width: 30px;
    height: 30px;
    font-weight: 600;
    margin: 0 2px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: transparent;
    color: #c0c3c6;
    border-color: #c0c3c6;
}

.pagination button.active {
    font-weight: 600;
    border-color: #eee;
    background: var(--primary);
    color: var(--white-color);
}

@media (max-width: 739px) {
    .pagination {
        margin-top: 15px;
    }
    .pagination button {
        width: 25px;
        height: 25px;
        font-size: 13px;
    }
}
